<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="\node_modules\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <p>

            Index Work 

    </p>
</body>
</html>